In [1]:
line="*"
max_length=10

while len(line)<=max_length:
    print(line)
    line +="*"
while len(line)>0:
    print(line)
    line=line[0:-1]

*
**
***
****
*****
******
*******
********
*********
**********
***********
**********
*********
********
*******
******
*****
****
***
**
*

In [2]:
line='Akshay'

In [3]:
line[-4:]

'shay'

In [4]:
a="akshay"
a[1:4]

'ksh'

In [5]:
# i=0
# while(1):
#     print(i)
#     i+=1
    
line='a'
max_length=10

while len(line)<=max_length:
    print(line)
    line+='a'

a
aa
aaa
aaaa
aaaaa
aaaaaa
aaaaaaa
aaaaaaaa
aaaaaaaaa
aaaaaaaaaa

In [6]:
row=int(input("Enter the number of rows: "))
for i in range(row):
    print(" "*(row-i) + "*"*(i+1))

Enter the number of rows: 5
     *
    **
   ***
  ****
 *****

In [12]:
i=1
result=1
while i<=100:
    result *= i
    if i==4:
        print('Magic number 42 reached! Stopping execution..')
        break
    i+=1
print('i:',i)
print('result:',result)

Magic number 42 reached! Stopping execution..
i: 4
result: 24

#### Sometimes you may not want to end the loop entirely,but simply skip the remaining statements in the loop to continue to the next loop. you can do this by continue statement.

#### continue means to skip the rest of the statements in the current teration and go back to the top of the iteration

#### At a specific condition terminate loop by break  ex. linear searching

In [11]:
i=1
result=1
while i < 20:
    i+=1
    if i % 2==0:
        print('skipping {}'.format(i))
        continue
    print('Multiplying with {}'.format(i))
    result=result*i
print('i:',i)
print('result:',result)

skipping 2
Multiplying with 3
skipping 4
Multiplying with 5
skipping 6
Multiplying with 7
skipping 8
Multiplying with 9
skipping 10
Multiplying with 11
skipping 12
Multiplying with 13
skipping 14
Multiplying with 15
skipping 16
Multiplying with 17
skipping 18
Multiplying with 19
skipping 20
i: 20
result: 654729075

In [7]:
n= int(input("Enter a number"))
for row in range(n):
    for column in range(n):
        if column==0 or row==n-1 or row == column:
            print("*",end="")
        else:
            print(end=" ")
    print('')

Enter a number5
*
**
* *
*  *
*****

In [9]:
for row in range(1,5):
    for col in range(1,8):
        if row==4 or row+col==5 or col-row==3:
            print("*",end="")
        else:
            print(end=" ")
    print()

   *
  * *
 *   *
*******

In [8]:
num=int(input("enter the number of rows: "))
for i in range(1,num+1):
    for j in range(1,i+1):
        print("*",end="")
    print()

enter the number of rows: 6
*
**
***
****
*****
******

In [15]:
num=int(input("enter the number of rows: "))
k=1
for i in range(1,num+1):
    for j in range(1,k+1):
        print("*",end=" ")
    k=k+2
    print("")

enter the number of rows: 3
*
* * *
* * * * *

In [19]:
num=int(input("Enter the number of rows: "))
for i in range(0,num):
    for j in range(0,num-i-1):
        print(end=" ")
    for j in range(0,i+1):
        print("*",end=" ")
    print()

Enter the number of rows: 4
   *
  * *
 * * *
* * * *

In [20]:
num=int(input("Enter a number: "))
for i in range(num,0,-1):
    for j in range(0,num-i):
        print(end=" ")
    for j in range(0,i):
        print("*",end=" ")
    print()

Enter a number: 7
* * * * * * *
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

In [25]:
def pyramid(rows):
    for i in range(rows):
        print(''*(rows-i-1) + '* '*(i+1))
    for j in range(rows-1,0,-1):
        print(''*(rows-j)+'* '*(j))
    print()
pyramid(4)

*
* *
* * *
* * * *
* * *
* *
*

In [26]:
n=int(input())
for x in range(0,n+1):
    print(" "*(n-x)+"* "*(x))
for x in range(1,n+1):
    print(" "*(x)+"* "*(n-x))

5

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *